.about {
    height: 60vh;
    min-height: 40rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.retainer {
    width: 100%;
    max-width: var(--retainer);
    margin: auto;
    padding: 2rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: translate(0, 10%);
}

.aboutText {
    width: 50%;
}

.aboutText h2 {
    width: 100%;
    margin-bottom: 2rem;
}

.aboutText p {
    font-size: calc(0.8rem + 0.2vw);
    margin-bottom: 2rem;
}

.aboutFigure {
    position: relative;
    width: 40%;
    height: calc(20rem + 14vw);
    box-shadow: 0px 2px 4px #8d8d8d;
    overflow: hidden;
}

.aboutImg {
    position: absolute;
    top: -48%;
    width: 104%;
    height: 112%;
    object-fit: cover;
    object-position: right;
}

@media (min-width: 1860px) {
    .aboutText h2 {
        font-size: 2.4rem;
    }
    .aboutText p {
        font-size: 1.08rem;
    }
}

@media (max-width: 1440px) {
    .aboutImg {
        top: -44%;
        width: 100%;
    }
}

@media (max-width: 1080px) {
    .about {
        min-height: 52rem;
    }
    .retainer {
        transform: translate(0, 4%);
        flex-direction: column;
    }
    .aboutFigure {
        width: calc(24rem + 18vw);
        height: calc(28rem + 10vw);
        transform: scale(0.8) translate(0, -6%);
    }
    .aboutImg {
        top: -52%;
    }
    .aboutText {
        width: calc(24rem + 18vw);
    }
}

@media (max-width: 768px) {
    .aboutImg {
        top: -56%;
    }
}

@media (max-width: 580px) {
    .aboutText {
        width: 90%;
    }
    .aboutText h2 {
        text-align: center;
    }
}