.callNow {
    height: 44vh;
    min-height: 22rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.retainer {
    width: 100%;
    max-width: var(--retainer);
    margin: auto;
    padding: 0rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.retainer > * {
    text-align: center;
}

.retainer h2 {
    margin-bottom: 2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: calc(1.6rem + 0.8vw);
    text-transform: uppercase;
}

.retainer p {
    font-size: calc(0.8rem + 0.2vw);
    margin-bottom: 4rem;
}

.callNowBtn {
    padding: 0.6rem 1.4rem;
    width: calc(9rem + 2vw);
    font-size: calc(0.8rem + 0.2vw);
    text-transform: uppercase;
    transition: 0.3s ease;
}
.callNowBtn::before {
    content: "(801) 785-4622";
    padding: auto;
}

@media (max-width: 1440px) {
    .retainer p {
        width: 80%;
    }
}

@media (max-width: 1080px) {
    .retainer p {
        width: 68%;
    }
}

@media (max-width: 580px) {
    .retainer p {
        width: 90%;
    }
}