.footer {
    height: 16vh;
    min-height: 12rem;
}

.retainer {
    border-top: 2px solid var(--dark);
    width: 100%;
    max-width: var(--retainer);
    margin: auto;
    padding: 1rem 1rem;
    display: flex;
    justify-content: space-between;
    transform: translate(0, 80%);
}

.retainer a {
    height: 1.6rem;
    display: inline;
    position: relative;
}
.retainer a:nth-of-type(1) {
    height: 3rem;
}
.retainer a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 2px;
    background: var(--hero);
    transition: 0.4s cubic-bezier(.9,0,.1,1);
}
.retainer a:nth-of-type(1)::after {
    bottom: -6px;
}

.retainer a:hover::after {
    width: 100%;
}

.retainer a:hover .heart{
    transform: translate(0, -24%);
}

.copyright,
.credits, 
.address {
    font-family: 'Poppins', sans-serif;
    font-size: calc(0.7rem + 0.2vw);
    font-weight: 400;
    color: var(--hero);
}

.address {
    font-size: calc(0.8rem + 0.2vw);
}

.credits {
    font-size: calc(0.6rem + 0.2vw);
}

.heart {
    width: 0.8rem;
    margin: 0 0.4rem 0 0.3rem;
    transition: 0.5s cubic-bezier(.9,-1,.1,2);
}

@media (max-width: 1080px) {
    .retainer {
        width: calc(36rem + 24vw);
    }
    .contactBlock {
        font-size: calc(0.6rem + 0.2vw);
    }
}

@media (max-width: 768px) {
    .footer {
        height: 24vh;
        min-height: 18rem;
    }
    .retainer {
        width: 80%;
        padding: 3.2rem 0;
        transform: translate(0, 20%);
        flex-direction: column;
        align-items: center;
    }
    .retainer a:nth-of-type(1)::after {
        bottom: 0;
    }
    .address {
        order: 1;
    }
    .credits {
        margin: 1.6rem 0;
        font-size: calc(0.7rem + 0.2vw);
        order: 2;
    }
    .copyright {
        font-size: calc(0.8rem + 0.2vw);
        order: 3;
    }
}

@media (max-width: 580px) {
    .retainer {
        transform: translate(0, -10%);
    }
}