.footer {
    height: 20vh;
    min-height: 14rem;
}

.retainer {
    border-top: 2px solid var(--dark);
    width: 100%;
    max-width: 76rem;
    margin: auto;
    padding: 2rem 1rem;
    display: flex;
    justify-content: space-between;
    transform: translate(0, 80%);
}

.copyright,
.credits {
    font-family: 'Poppins', sans-serif;
    font-size: calc(0.6rem + 0.2vw);
    font-weight: 400;
    color: maroon;
}

.heart {
    width: 0.8rem;
    margin: 0 0.4rem 0 0.3rem;
}

.contactBlock {
    width: 30%;
    display: flex;
    justify-content: space-between;
    font-size: calc(0.6rem + 0.2vw);
}

@media (max-width: 1080px) {
    .retainer {
        border: none;
        padding: 2rem 2vw;
    }
    .contactBlock {
        width: 30%;
        display: flex;
        justify-content: space-between;
        font-size: calc(0.6rem + 0.2vw);
    }
}