:root {
  --light: #f4f4f4;
  --dark: #313131;
  --hero: #C90F3A;
  --retainer: 76rem; 
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Poppins', sans-serif; */
  /* font-style: normal !important; */
  color: var(--dark);
}

section {
  overflow: hidden;
}

ul {
  list-style: none;
}

a,
button {
  text-decoration: none;
  cursor: pointer;
}

p {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

.scrollDownDiv {
  /* border: 2px solid yellow; */
  position: absolute;
  bottom: 0;
  padding-bottom: calc(1rem + 1vw);
  left: 50%;
  /* width: 100vw; */
  height: 5rem;
  opacity: 0;
  transform: translate(-50%, 40%);
  animation: appear 1s cubic-bezier(.06,.69,.38,1) 1.2s forwards;
}

.scrollDown {
  color: var(--light);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 5;
  opacity: 1;
  pointer-events: all;
  transition: 0.5s ease;
  text-transform: uppercase;
  font-size: calc(1rem + 0.2vw);
  font-weight: 700;
  letter-spacing: 0.1rem;
}
.downChevron {
  width: calc(1.6rem + 0.2vw);
  transform: translate(0, -12%);
  animation: hover 2s ease-in-out 2.4s infinite alternate;
}
.downChevron path {
  fill: var(--light);
}
@keyframes appear {
  to {
    opacity: 1;
    transform: translate(-50%, -24%);
  }
}
@keyframes hover {
  to {
    transform: translate(0%, 12%);
  }
}

/* To Top Button */
.toTop {
  background: var(--light);
  position: fixed;
  bottom: 2.8vw;
  right: 2.8vw;
  width: calc(2rem + 1vw);
  height: calc(2rem + 1vw);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 5;
  opacity: 0;
  pointer-events: none;
  transform: translate(0, 50%);
  transition: 0.5s ease;
}

.toTop:hover {
  transform: scale(1.1) !important;
}

.upChevron {
  width: calc(1.6rem + 0.2vw);
}
/* To Top Button */


/* Primary button hover animations */
.swiperBtn {
  border: 1px solid var(--hero);
  position: relative;
  background: none;
  color: transparent;
}
.swiperBtn::before {
  content: "";
  /* change per button*/
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 1.4rem;
  color: var(--light);
  z-index: 1;
  transition: 0.4s ease 0.16s;
  pointer-events: none;
}

.swiperBtn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: var(--hero);
  animation: swiperBtn 0.5s cubic-bezier(.78,.13,.15,.86) forwards;
  pointer-events: none;
}
.swiperBtn:hover::before {
  color: var(--hero);
  transition: 0.4s ease 0.16s;
}
.swiperBtn:hover::after {
  animation: swiperBtnaft 0.5s cubic-bezier(.78,.13,.15,.86) forwards;
}
@keyframes swiperBtn {
  0% {
      left: auto;
      right: 0;
      width: 0%;
  }
  20% {
      left: 0;
      right: auto;
      width: 0%;
  }
  100% {
      left: 0;
      right: auto;
      width: 100%;
  }
}
@keyframes swiperBtnaft {
  0% {
      left: 0;
      right: auto;
      width: 100%;
  }
  20% {
      left: auto;
      right: 0;
      width: 100%;
  }
  100% {
      left: auto;
      right: 0;
      width: 0%;
  }
}
/* Primary button hover animations */

@media (max-width: 1440px){
  @keyframes appear {
    to {
      opacity: 1;
      transform: translate(-50%, -12%);
    }
  }
}

@media (max-width: 520px){
  .toTop {
      bottom: 6.4vw;
      right: 6.4vw;
  }
}

@media (max-width: 480px){
  @keyframes appear {
    to {
      opacity: 1;
      transform: translate(-50%, 100%);
    }
  }
}