.hero {
    position: relative;
    height: 100vh;
    min-height: 42rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bgImg {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    min-height: 48rem;
    object-fit: cover;
    pointer-events: none;
}

.retainer {
    width: 100%;
    max-width: var(--retainer);
    margin: auto;
    padding: 2rem 1rem;
}

.contactForm {
    color: var(--dark);
    background: #f4f4f4ee;
    width: 56%;
    margin: auto;
    /* height: 90vh; */
    padding: 4rem 2rem;
    opacity: 0;
    transform: scale(0.9);
    animation: approach 0.5s ease 0.3s forwards;
}

@keyframes approach {
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.formHeader {
    margin-bottom: 2rem;
    text-align: center;
}

.formHeader h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: calc(1.6rem + 0.8vw);
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 1.2rem;
    margin-bottom: 2.8rem;
}

.formHeader h4 {
    font-weight: 400;
    font-size: calc(0.8rem + 0.2vw);
    font-style: italic;
    text-transform: uppercase;
    margin-bottom: 1.6rem;
}

/* .formHeader p {
    font-weight: 400;
    font-size: calc(0.8rem + 0.2vw);
    margin-bottom: 2rem;
} */

.altp {
    font-weight: 400;
    font-size: calc(1rem + 0.2vw);
    margin-bottom: 4rem;
}

.form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.formBlock {
    position: relative;
    margin-bottom: 2.8rem;
    width: 48%;
    height: 3.2rem;
}

.messageDiv {
    position: relative;
    width: 100%;
    height: 6rem;
    margin-bottom: 4rem;
}

.textarea {
    position: absolute;
    width: 100%;
    height: 100%;
    background: none;
    border: none;
    border-bottom: 2px solid var(--dark);
    border-radius: 0;
    font-size: calc(0.9rem + 0.2vw);
    resize: none;
    outline: none;
}

.input {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 0.86rem;
    background: transparent;
    border: none;
    width: 100%;
    height: 100%;
    font-size: calc(0.9rem + 0.2vw);
    border-bottom: 2px solid var(--dark);
    border-radius: 0;
    outline: none;
    transition: border 0.1s ease;
}
.input:focus ~ .label,
.input:not(:placeholder-shown).input:not(focus) ~ .label{
    top: -0.8rem;
    opacity: 0.8;
    font-size: calc(0.6rem + 0.2vw);
}
.textarea:focus ~ .textLabel,
.textarea:not(:placeholder-shown).textarea:not(focus) ~ .textLabel {
    top: -1.4rem;
    opacity: 0.8;
    font-size: calc(0.6rem + 0.2vw);
}

.input:focus,
.textarea:focus {
    border-bottom: 3px solid var(--hero);
}

.label {
    position: absolute;
    top: 36%;
    left: 0;
    pointer-events: none;
    font-size: calc(0.9rem + 0.2vw);
    transition: 0.3s ease;
}

.textLabel {
    top: 56%;
}

.select {
    width: 100%;
    margin: 1.2rem 0 4.8rem 0;
    height: 3.2rem;
    font-size: calc(0.8rem + 0.2vw);
    background: none;
    border: none;
    outline: none;
    border-bottom: 2px solid var(--dark);
}

.submit {
    width: 100%;
    padding: 0.8rem 0;
    font-size: calc(0.8rem + 0.2vw);
    text-transform: uppercase;
    border: 1px solid var(--hero);
    position: relative;
    background: none;
    color: transparent;
}
.submit::before {
    content: "Send Inquiry Now";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--light);
    z-index: 1;
    transition: 0.4s ease 0.16s;
    pointer-events: none;
}
.submit::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--hero);
    animation: cta 0.5s cubic-bezier(.78,.13,.15,.86) forwards;
    pointer-events: none;
}
.submit:hover::before {
    color: var(--hero);
    transition: 0.4s ease 0.16s;
}
.submit:hover::after {
    animation: ctaaft 0.5s cubic-bezier(.78,.13,.15,.86) forwards;
}
@keyframes cta {
    0% {
        bottom: auto;
        top: 0;
        height: 0%;
    }
    20% {
        bottom: 0;
        top: auto;
        height: 0%;
    }
    100% {
        bottom: 0;
        top: auto;
        height: 100%;
    }
}
@keyframes ctaaft {
    0% {
        bottom: 0;
        top: auto;
        height: 100%;
    }
    20% {
        bottom: auto;
        top: 0;
        height: 100%;
    }
    100% {
        bottom: auto;
        top: 0;
        height: 0%;
    }
}

@media (max-width: 1440px) {
    .contactForm {
        /* width: 52%; */
        padding: 2.8rem 2rem;
        transform: scale(0.8);
    }
    @keyframes approach {
        to {
            opacity: 1;
            transform: scale(0.9);
        }
    }
    /* .formHeader p {
        margin-bottom: 2.8rem;
    } */
    .formHeader h1 {
        margin-bottom: 1.4rem;
    }
    .formHeader h4 {
        margin-bottom: 1.2rem;
    }
    .altp {
        margin-bottom: 0.4rem;
    }
    .messageDiv {
        height: 4.8rem;
        margin-bottom: 4rem;
    }
}

@media (max-height: 720px) {
    .contactForm {
        transform: translate(0%, -4%) scale(0.9) !important;
    }
}

@media (max-width: 1080px) {
    .bgImg {
        object-position: right;
    }
    .contactForm {
        margin: auto;
        width: calc(28rem + 18vw);
    }
}

@media (max-width: 580px) {
    .retainer {
        padding: 0;

    }
    .contactForm {
        width: 100%;
    }
}

    @media (max-width: 480px) {
    .bgImg {
        object-position: 84% 0%;
    }
    .contactForm {
        width: 100%;
        padding: 2.8rem 1.2rem;
    }
    .retainer {
        transform: translate(0, -4%);
    }
    .formHeader h1 {
        font-size: calc(1.2rem + 0.8vw);
        font-weight: 700;
    }
    .break {
        display: none;
    }
}