.perks {
    height: 90vh;
    min-height: 38rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.retainer {
    width: 100%;
    max-width: var(--retainer);
    margin: auto;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.image {
    width: 40%;
    height: calc(20rem + 14vw);
    object-fit: cover;
    object-position: 40% 0%;
    box-shadow: 0px 2px 4px #8d8d8d;
}

.content {
    width: 54%;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 2.8rem 2rem;
    margin: 4rem 0;
}

.perkCard {
    width: 46%;
    display: flex;
    align-items: center;
}

.perksImg {
    width: calc(2.8rem + 1vw);
    height: calc(2.8rem + 1vw);
    margin-right: 1rem;
}

.perkCard h4 {
    font-size: calc(1rem + 0.2vw);
    margin-bottom: 0.4rem;
    text-transform: uppercase;
    text-align: left;
}

.content a {
    padding: 0.6rem 1.4rem;
    width: calc(12rem + 2vw);
    font-size: calc(0.8rem + 0.2vw);
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content a::before {
    content: "Send Inquiry Now";
}

.content a:hover .chevron {
    transform: translate(40%, 0);
}
.content a:hover .chevron path {
    color: var(--hero);
}

.chevron {
    width: 1rem;
    height: 1rem;
    transition: 0.3s cubic-bezier(.08,.71,.5,1.38);
    z-index: 5;
}
.chevron path{
    color: var(--light);
    transition: 0.3s ease 0.3s;
}

@media (min-width: 1860px) {
    .content h2 {
        font-size: 2.4rem;
    }
    .perkCard h4 {
        font-size: 1.2rem;
    }
    .perksImg {
        width: 3.6rem;
        height: 3.6rem;
    }
}
@media (max-width: 1440px) {
    .perksImg {
        width: calc(2.2rem + 1vw);
        height: calc(2.2rem + 1vw);
    }
}

@media (max-width: 1080px) {
    .perks {
        min-height: 68rem;
    }
    .retainer {
        flex-direction: column;
    }
    .image {
        width: calc(24rem + 18vw);
        height: calc(16rem + 10vw);
        margin-bottom: 3.2rem;
        transform: translate(0, -10%);
        transform: scale(0.9) translate(0, -12%);
    }

    .content {
        width: calc(24rem + 18vw);
    }
    .content h2 {
        margin-bottom: 3.2rem;
    }
    .cards {
        gap: 3.2rem 0;
        margin-bottom: 3.2rem;
    }
}

@media (max-width: 768px) {
    .image {
        width: calc(20rem + 18vw);
    }
}

@media (max-width: 520px) {
    .perks {
        min-height: 74rem;
    }
    .retainer {
        padding: 0rem 1rem;
    }
    .content {
        width: 64%;
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: translate(0, -6%);
    }
    .content h2 {
        text-align: center;
        width: 16rem;
        margin-bottom: 0;
    }
    .content a {
        width: calc(12rem + 4vw);
        transform: translate(0, 80%);
    }
    .cards {
        gap: 2rem 0;
        margin-bottom: 2rem;
    }
    .perkCard {
        width: 16rem;
        padding-right: 0;
        text-align: center;
    }
}