.whyUs {
    position: relative;
    height: 50vh;
    min-height: 26rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.retainer {
    width: 100%;
    max-width: 76rem;
    margin: auto;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.retainer > * {
    text-align: center;
}

.retainer h2 {
    margin-bottom: 2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: calc(1.6rem + 0.8vw);
    text-transform: uppercase;
}

.retainer p {
    font-size: calc(0.8rem + 0.2vw);
}

.em {
    font-style: normal;
    color: var(--hero);
    font-weight: 500;
    text-transform: capitalize;
}

.abstract {
    position: absolute;
    left: 0;
    bottom: 24%;
    opacity: 0.2;
}

@media (max-width: 1440px) {
    .retainer p {
        width: 80%;
    }
}

@media (max-width: 1080px) {
    .retainer p {
        width: 68%;
    }
    .abstract {
        width: 30%;
    }
}

@media (max-width: 480px) {
    /* .whyUs {
        border: 2px dashed red;
    } */
    
    .retainer {
        padding: 0rem 1rem;
        transform: translate(0, -20%);
    }
    .retainer p {
        width: 90%;
    }
    .abstract {
        width: 30%;
        bottom: 0%;
    }
}
