.whyUs {
    /* border: 2px dashed grey; */
    position: relative;
    height: 32vh;
    min-height: 16rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.retainer {
    width: 100%;
    max-width: var(--retainer);
    margin: auto;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translate(0, 18%);
}

.retainer > * {
    text-align: center;
}

.retainer h2 {
    margin-bottom: 2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: calc(1.6rem + 0.8vw);
    text-transform: uppercase;
}

.retainer p {
    font-family: 'Poppins', sans-serif;
    font-size: calc(0.8rem + 0.2vw);
}

.em {
    font-style: normal;
    color: var(--hero);
    font-weight: 500;
    text-transform: capitalize;
}

.abstract {
    position: absolute;
    left: 0;
    bottom: 24%;
    opacity: 0.2;
}

@media (min-width: 1860px) {
    .retainer h2 {
        font-size: 2.4rem;
    }
    .retainer p {
        font-size: 1.08rem;
    }
}

@media (max-width: 1440px) {
    .retainer p {
        width: 80%;
    }
}

@media (max-width: 1080px) {
    .retainer p {
        width: calc(12rem + 48vw);
    }
    .abstract {
        width: 30%;
    }
}

@media (max-width: 480px) {    
    .retainer {
        padding: 0rem 1rem;
        transform: translate(0, -6%);
    }
    .retainer h2 {
        /* border: 1px solid black; */
        /* font-family: 'Montserrat', sans-serif !important; */
        width: 100%;
    }
    .retainer p {
        width: 100%;
    }
    .abstract {
        width: 30%;
        bottom: 0%;
        display: none;
    }
}
